"*":
  "atom-beautify":
    _analyticsUserId: "b27c8254-2d77-4c04-8c77-a885e625675f"
  core:
    destroyEmptyPanes: false
    projectHome: "/Users/kevin/Dropbox/Projects"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles:
      eol: " "
      tab: "-"
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "5ea1f452-8144-666f-8142-b28a96dbe538"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  minimap: {}
  "one-dark-ui": {}
  "ruby-test":
    specFramework: "minitest"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".jsx.regexp.source":
  editor:
    preferredLineLength: 120
".jsx.source":
  editor:
    preferredLineLength: 120
